* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F4F2EE;
}

/* /// navbar   */
.navbar {
    /* margin: 0 50px; */
    padding: 50px;
}

#navbarSupportedContent ul li {
    
    justify-content: space-between;
    /* width: 50px; */
    margin: 0px 30px;
}

/* navbar   */


/* secound page */
#post1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

#postInput {
    width: 450px;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border: 1px solid black;
    outline: 0;
}
#postInput:hover{
    background-color: #EBEBEB;
} 

#start-row {
    min-height: 100px;
    margin: 100px 20px 50px 20px;
    border-radius: 10px;
}

#image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: orange;
}

#image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* modal page sstart///////// */

#exampleModal{
    display: none;
    overflow: hidden;
}
.modalImage{
    width: 100%;
    height:250px;
    /* background-color: red; */
}
.modalImage img{
    width: 100%;
    height: 100%;
  display: none;
    object-fit: cover;
}
.file{
    display: none;
}
label i{
    font-size: 40px;
  margin-right: 350px;
  
}
/* modal page compelete */

/* userpost */
.card{
    width: 100%;
}
.card img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.profilepost{
    background-color: orange;
    display: flex;
    padding: 10px;
    position: relative;
}
.profilepost img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: white; */
}
.profilepost h3{
    margin: 10px 10px;
    text-transform: capitalize;
}
#dot{
position: absolute;
right: 0;
padding: 15px;
cursor: pointer;
font-size: 25px;
}
/*icon  */
.icon{
    background-color: red;
}
.icon ul{
    display: flex;
}
.icon ul li{
    list-style: none;
    padding: 10px;
    font-size: 25px;
    margin: 10px 13px;
}
.icon ul li i{
    margin: 5px;
    cursor: pointer;
}
.hide{
    background-color: white;
    padding: 10px;
    width: 100px;
    position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
   padding:5px  25px 0px 0px;
   margin: 25px;
   display: none;
}
.hide ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

 


/*icon  */

/* userpost */


@media (max-width:600px){
    .icon ul li{
        list-style: none;
        padding: 10px;
        font-size: 18px;
        margin: 10px 5px;
    }
    .icon ul li i{
        margin: 5px
    }
    
}

